bucket = "example-product-terraform-state"
key    = "migration/terraform.tfstate"
region = "ru-central1"

endpoints = {
  s3 = "https://storage.yandexcloud.net"
}

use_lockfile                 = true
skip_s3_checksum             = true
skip_credentials_validation = true
skip_metadata_api_check      = true
skip_region_validation       = true
skip_requesting_account_id   = true
