cloud_id          = "REPLACE_WITH_CLOUD_ID"
folder_id         = "REPLACE_WITH_FOLDER_ID"
zone              = "ru-central1-a"
project_slug      = "event-tracking-system"
state_bucket_name = "example-product-terraform-state-globally-unique"
