cloud_id          = "b1g6rgevat7hdag0k9el"
folder_id         = "b1g673v2mou0tr08qbs5"
zone              = "ru-central1-a"
project_slug      = "event-tracking-system"
state_bucket_name = "example-product-terraform-state-globally-unique"
