bucket = "example-product-terraform-state"
key    = "static/terraform.tfstate"
region = "us-east-1"

endpoints = {
  s3 = "https://fra1.digitaloceanspaces.com"
}

use_lockfile                 = true
skip_s3_checksum             = true
skip_credentials_validation = true
skip_metadata_api_check      = true
skip_region_validation       = true
skip_requesting_account_id   = true
